/* Simple browser reset */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body.throwback {
  background-image: url("./images/gridwallpaper.jpg");
  background-color: #000000;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

[data-bs-theme="dark"] {
  --bs-heading-color: #fff;
  --bs-body-color: #cfd9e2;
}

p, li {
  white-space: pre-line;
  /* line-height: 1.5; */
}

li:not(.nav-item){
  margin-bottom: 1em;
}

.throwback {
  color: #fff;
}

table.th-w-50 tbody tr th {
  width: 50%;
}

.App {
  min-height: 100vh;
}

.container {
  min-height: 100vh;
}

.hero {
  max-width: 60%;
  margin: 10% 20%;
  /* background-image: url("../public/img/dining.jpg"); */
  background-size: cover;
}

@media(max-width: 700px){
  .hero {
    max-width: 80%;
    margin: 5% 10%;
  }
}

.hero__title {
  padding-top:25px;
  font-size: 100px;
  margin: 0;
  /* font-family: "Merriweather", serif; */
}

.hero__subtitle{
  font-size: 40px;
  font-style: italic;
}

.border-indigo {
  --bs-border-opacity: 1;
  border-color: #6610f2 !important;
}

.bg-indigo {
  --bs-border-opacity: 1;
  background-color: #6610f2 !important;
}

.border-purple {
  --bs-border-opacity: 1;
  border-color: #800080 !important;
}

.bg-purple {
  --bs-border-opacity: 1;
  background-color: #800080 !important;
}

.text-orange {
  color: #fd7e14 !important;
}

.border-orange {
  --bs-border-opacity: 1;
  border-color: #fd7e14 !important;
}

.bg-orange {
  --bs-border-opacity: 1;
  background-color: #fd7e14 !important;
}

.border-grey {
  --bs-border-opacity: 1;
  border-color: #aaaaaa !important;
}